* { box-sizing:border-box; }
/* 
blue - #2862b7
lt blue - #2b71b1
green - #00c57f
lt green - #29CA91
*/
html {
    height:100%;
    width:100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Helvetica Neue','Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', sans-serif; 
}
body {
  color:white;
  background:  #2862b7;
  background:linear-gradient(180deg,#0f62bd 24%,#0a407a 168%);
 }
 body.solidBackground {
     background:  #2862b7 !important
 }
 body::after {
     content: "";
   }