* { box-sizing:border-box; }
html {
    height:100%;
    width:100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Helvetica Neue','Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', sans-serif; 
}
body {
  color:white;
  background:  #2862b7;
  background:linear-gradient(180deg,#0f62bd 24%,#0a407a 168%);
 
 }
body.solidBackground {
    background:  #2862b7 !important;
  }
body::after{
    content: "";
  }

  .mainBox {
    padding:20px;
    margin: 0 auto;
    max-width: 1180px;
}
.mainBox.backgroundInverse {
    color:#2862b7;
    background:  #fff;  
    max-width: 700px;
}
.mainInnerBox {
    padding-top:40px;
    margin: 0 auto;
    width:480px;
    text-align: center;
}
.mainInnerBox.noTop{
    padding-top:0px;
}
.mainInnerBoxHeader {
    font-weight: normal;
    font-size: 36px;
    margin: 0 auto;
    text-align: center;
    margin:.67em 0;
}
.mainInnerBoxSubtitle {
    line-height: 1.6;
    text-align: center;
    font-weight: 300;
}
#frmQuickStart {
    width:90%;
    text-align: center;
    margin: 0 auto;
}

fieldset {
    margin:0 auto;
    border: none;
    text-align:center;
}
fieldset input,fieldset textarea,fieldset button,fieldset a {
    border: solid 1px #dcdcdc;
    height:auto;
    width:100%;
    padding:15px;
    display: block;
    text-align: left;
    margin: 0 auto;
    border-radius: 3px;
    background: #fcfcfc;
    margin: 10px auto 10px ;
    transition: opacity 0.4s;
}
.btnStandard {
    background: #00c57f;
    border:0;
    border-radius: 4px;
    color:white;
    text-align: center;
}
.btnStandard:hover {
    cursor: pointer;
    background: #29CA91;
}
.btnAdmin {
    background: #fff;
    border-color: #dcdcdc;
    border-radius: 4px;
    color:#2862b7 !important;
    text-align: center;
}
 /*links */
 a, a:visited {
    text-decoration: none;
    color:white;
    cursor: pointer;
  }
  a:hover {
    text-decoration: underline;
  }
  a .fa {
    padding-right:5px;
  }
  input[type='submit']:disabled {
    background: #dddddd;
  }

  .formInputError{  
    color: #DA5B59;
    text-align: left;
    font-size:16px;
}

.divConfirm {
    z-index:3;
    padding-top:100px;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgb(0,0,0);
    background-color:rgba(0,0,0,0.4)
}
.divConfirmContent { 
    margin:auto;
    background-color:#fff;
    position:relative;
    padding:15px;
    outline:0;
    width:60%;
    text-align: center;
    color: #2862b7; 
}

.lnkBack {
    margin-top:15px;
    padding:30px 0;
}
.lnkBack a{
    margin-right:15px;
}